<nav class="nav-main">
  <div class="navbar-header">
    <h1 class="mobile-logo"><a href="/">Up Dog Toys</a></h1>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="navigation">
      <div class="navigation-middle">
        <a class="navigation-link" href="/"><img src="{{ 'logo_black.png' | asset_url}}" class="logo"></a>
      </div>
      <div class="navigation-right">
        <div class="navigation-block">
          <a class="navigation-link" href="/products/the-odin">Odin <br>Treat Toy</a>
        </div>
        <div class="navigation-block">
          <a class="navigation-link" href="/products/the-kena">Kena <br>Squeaker Toy</a>
        </div>
        <div class="navigation-block">
          <a class="navigation-link" href="/cart"><i class="fa fa-shopping-cart"></i> Cart ({{ cart.item_count }})</a>
        </div>
      </div>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>
{% include 'sale-banner' %}
