<footer class="footer wpfooter">
  <div class="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <i class="fa fa-paper-plane"></i>
          <h2>Get Offers and New Product Updates</h2>
          <!-- Begin MailChimp Signup Form -->
          <form action="//updogtoys.us8.list-manage.com/subscribe/post?u=b41b5cefcd7a5736ee4c52664&amp;id=a5726273e7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" placeholder="example@email.com" name="EMAIL" class="required email" id="mce-EMAIL" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
              <input name="b_b41b5cefcd7a5736ee4c52664_a5726273e7" tabindex="-1" value="">
            </div>
            <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="primary-btn btn">
          </form>
          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
  <nav class="footer-nav">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products/the-odin">The Odin: Treat Toy</a></li>
            <li><a href="/products/the-kena">The Kena: Squeaker Toy</a></li>
            <li><a href="http://www.updogtoys.com">About Us</a></li>
            <li><a href="/pages/wholesale">Wholesale Inquiries</a></li>
            <li><a href="mailto:info@updogtoys.com">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-md-6">
          <ul class="social-buttons">
            <li><a href="http://www.instagram.com/updogtoys" class="social-btn"><i class="fa fa-instagram"></i></a></li>
            <li><a href="http://www.facebook.com/updogtoys" class="social-btn"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://www.twitter.com/updogtoys" class="social-btn"><i class="fa fa-twitter"></i></a></li>
            <li><a href="mailto:info@updogtoys.com" class="social-btn"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Up Dog Toys &copy; 2016 &mdash; Created by Odin, the Pembroke Welsh Corgi. Please excuse typos from <a href="http://www.youtube.com/watch?v=pCyzqRvmrVE" class="fancybox-media">my large paws typing on small keys.</a></p>
        </div>
      </div>
    </div>
  </nav>
</div>

</footer>
