<section class="instagram text-center section-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="wpinstagram">
          Follow us <a href="http://www.instagram.com/updogtoys">@updogtoys</a>
        </h1>
        <p>We love Instagram! Tag us <a href="http://www.instagram.com/updogtoys">@updogtoys</a> in your photos and get featured on our account alongside all our other furry friends.</p>
        <div class="instagram-carousel wpinstagram delay-03s">
          <div class="carousel-button carousel-button-left hidden">
            <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g><path class="fs-arrow" fill="none" stroke-width="1px" d="m22.5,0l-15,15l15,15" id="fs-left-path" stroke="#222"></path></g></svg>
          </div>
          <div class="carousel-button carousel-button-right">
            <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g><path class="fs-arrow" stroke="#222" id="fs-left-path" d="m7.5,0l15,15l-15,15" fill="none"></path></g></svg>
          </div>

          <div id="instafeed" class="instagram-photos"></div>
        </div>
      </div>
    </div>
  </div>
</section>
