{% comment %} <div class="sale-banner">
</div> {% endcomment %}
<div class="sale-banner">
  The Odin Rose Quartz and Light Grey restock in mid-April! <a href="https://www.updogtoys.com/products/the-odin">Place your backorder</a> to be shipped when available.
</div>
