<div class="sale-banner">
  We're out on a trip! All orders will be shipped 5/29
  <br>
  Save 15% off your purchase with code: PAWS4VACATION
  <br>
  Offer excludes all bundle packages - ends 5/28
</div>
