<nav class="nav-main">
  <div class="navbar-header">
    <h1 class="mobile-logo"><a href="/">Up Dog Toys</a></h1>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="navigation">
      <div class="navigation-middle">
        <a class="navigation-link" href="/"><img src="{{ 'logo_black.png' | asset_url}}" class="logo"></a>
      </div>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>
