<div class="sale-banner">
  Celebrating The Kena Launch: 15% off 1 toy with code <strong>KENA15</strong> or
  <br>20% off 2+ toys with code <strong>KENA20</strong>. Ends 12/31.
  <!-- <a href="#" id="close-banner" class="close-banner">Close</a> -->
</div>
