<div class="sale-banner">
  Bark Friday Sale! 25% off everything &ndash; code BARKFRIDAY25<br>
  30% off orders over $45 &ndash; code BARKFRIDAY30<br>
  Plus orders over $58 get FREE shipping in US or $10 international
</div>
