<div class="sale-banner">
  Celebrating The Kena launch and Black Friday sale!
  <br>30% off everything with code <strong>KENAFRIDAY</strong>. Ends 11/28.
  <!-- <a href="#" id="close-banner" class="close-banner">Close</a> -->
</div>
