<div class="sale-banner">
  Paws for vacation sale! 20% off your order while we're gone, plus an extra discount on The Kena.
  <br>Code <strong>PAWS4VACATION</strong>
  <br><small>Orders ship 9/26. Excludes Rose Quartz Odin. Ends 9/25.</small>
</div>
