<header id="header" class="header hero wp1">
</header>
<section class="features text-center section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="wp2">Dog toys for a modern home</h1>
        <div class="row">
          <div class="col-md-6 featured-product wp2 delay-03s">
            <a href="/products/the-kena">
              <img src="{{ 'kena-feature.jpg' | asset_url }}" alt="Kena Squeaker Toy" class="push-hover featured-image">
              <h2 class="product-title">The Kena</h2>
              <div class="product-subtitle">Squeaker Toy</div>
            </a>
          </div>
          <div class="col-md-6 featured-product wp2 delay-05s">
            <a href="/products/the-odin">
              <img src="{{ 'odin-tip.jpg' | asset_url}}" alt="Odin Puzzle Toy" class="push-hover featured-image">
              <h2 class="product-title">The Odin</h2>
              <div class="product-subtitle">Treat Dispensing Puzzle Toy</div>
            </a>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonials text-center section-padding light-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="wp3">Featured in</h1>
        <img src="{{ 'logos.png' | asset_url }}" class="logos wp3 delay-03s">
      </div>
    </div>
  </div>
</section>

{% include 'instagram' %}

<section class="donation text-center section-padding dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="wp5">1% of all purchases go to help animals</h1>
        <p class="wp5 delay-03s">We donate toys and a portion of all sales to our local animal shelter, Emerald City Pet Rescue.</p>
      </div>
    </div>
  </div>
</section>
<section class="corgi-break dark-bg text-center section-padding wp6">
  <div>
    <h1>Corgi Break</h1>
    <h2>Smile</h2>
  </div>
</section>
<section class="about text-center section-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wp7">
        <h1>About Us</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 wp7 delay-03s">
        <img src="{{ 'family_picture.jpg' | asset_url }}" alt="Family Photo">
      </div>
      <div class="col-md-6 wp7 delay-06s">
        <p>We are a husband and wife team who love our dog <a href="http://instagram.com/odinthecorgi">@odinthecorgi</a> more than anything and dream of being surrounded by puppies while living in our favorite city, Seattle.</p>
        <p>Our goal is to improve upon classic dog toys and apply modern design principles along with home design trends.</p>

        <h2 class="second-headline">Guiding principles</h2>
        <ul class="principles">
          <li>Happy dogs and happy humans</li>
          <li>The best toys are the ones that are played with often</li>
          <li>Build relationships with customers</li>
          <li>Design for beauty and functionality</li>
          <li>Have fun</li>
        </ul>
      </div>
    </div>
  </div>
</section>
