$coral: #FF4633;
$coral-dark: darken($coral, 20%);

$grayLight: #6B6F73;
$grayLightBg: #f3f5f8;

$gray: #696D76;
$brownLight:#AEA89D;
$brown: #936F45;

$orange: #E98854;

$blue: #4f90d4;


$primaryColor: #333;
$primaryColorAlt: lighten($primaryColor, 20%);

$nav-bot-margin: 60px;
$box-shadow: 0 0 6px 0 $grayLight;
