//
// Colors

$gray: #696D76;
$grayLight: #6B6F73;
$grayLightBorder: #e4e4e4;
$grayLightBg: #f3f5f8;

$pink: #dea3a3;
$primaryColor: $pink;
$primaryColorAlt: lighten($primaryColor, 10%);

$grayBlue: #4f6364;
$secondaryColor: $grayBlue;
$secondaryColorAlt: lighten($secondaryColor, 10%);

$blue: #1a87ff;

//
// Breakpoints

$navCollapsePoint: 1100px;
$mobileBreakpoint: 768px;
