$grayLight: #6B6F73;
$grayLightBorder: #e4e4e4;
$grayLightBg: #f3f5f8;

$gray: #696D76;
$brownLight:#AEA89D;
$brown: #936F45;

$pink: #dea3a3;

$primaryColor: $pink;
$primaryColorAlt: lighten($primaryColor, 10%);

$green: #4f6364;
$secondaryColor: $green;
$secondaryColorAlt: lighten($secondaryColor, 10%);

$navCollapsePoint: 1100px;
$mobileBreakpoint: 768px;
